<%- include('../../partials/header') %>
<main>
    <h1><%= title %></h1>
    <div class="car-detail-images">
        <% if (images && images.length > 0) { %>
            <% images.forEach(image => { %> 
                <div class="car-img">
                    <img src="<%= image.image_url %>" alt="<%= image.alt_text %>">
                </div>
            <% }); %>
        <% } %>
    </div>
    <div class="car-detail-info">
        <h3><%= car.year %> <%= car.make %> <%= car.model %></h3>
        <% if (!car.sold) { %>
            <p class="available">AVAILABLE</p>
        <% } else { %>
            <p class="sold">SOLD</p>
        <% } %>
        <p>Exterior: <%= car.exterior_color %> | Interior: <%= car.interior_color %></p>
        <p><%= car.fuel_type %> | <%= car.mileage %> mi | $<%= car.price %></p>
        <p><%= car.category %></p>
        <p>VIN: <%= car.vin %></p>
    </div>
    <a href="/cars/list">Back to all cars</a>
</main>
<%- include('../../partials/footer') %>