<%- include('../../partials/header') %>
<main>
    <h1>Purchase A Car</h1>
    <% if (carsList && carsList.length > 0) { %>
        <div class="contact-responses">
            <% carsList.forEach(car => { %>
                <div>
                    <h3><%= car.year %> <%= car.make %> <%= car.model %></h3>
                    <% if (!car.sold) { %>
                        <p>AVAILABLE</p>
                    <% } else { %>
                        <p>SOLD</p>
                    <% } %>
                    <p><%= car.category %></p>
                    <p>Exterior: <%= car.exterior_color %></p>
                    <p>Interior: <%= car.interior_color %></p>
                    <p><%= car.fuel_type %></p>
                    <p><%= car.mileage %> mi</p>
                    <p>$<%= car.price %></p>
                    <% if (imagesList && imagesList.length > 0) { %>
                        <% imagesList.forEach(image => { %> 
                            <% if (image.vehicle_id == car.id) { %>
                                <img src="<%= image.image_url %>" alt="<%= image.alt_text %>">
                            <% } else { %> 
                                <p>No images found for <%= car.year %> <%= car.make %> <%= car.model %></p>
                            <% } %>
                        <% }); %>
                    <% } else { %>

                    <% } %>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p class="no-responses">No cars for sale.</p>
    <% } %>
</main>
<%- include('../../partials/footer') %>