<%- include('../../partials/header') %>
<main>
    <h1>Purchase A Car</h1>
    <p>Our team is still working on developing this page.</p>
    <% if (carsList && carsList.length > 0) { %>
        <div class="contact-responses">
            <% carsList.forEach(car => { %>
                <div>
                    <h3><%= car.year %> <%= car.make %> <%= car.model %></h3>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p class="no-responses">No cars for sale.</p>
    <% } %>
</main>
<%- include('../../partials/footer') %>